* {
    box-sizing: border-box;
  }

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

body {
    font-family: sans-serif, Verdana, Geneva, Tahoma;
}

.main-page {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-page {
    text-align: left;
    padding-left: 25%;
    padding-right: 25%;
}

.main-page h1 {
    font-size: 58px;
}

.main-page h3 {
    font-size: 28px;
}

.the-question { 
    font-size: 48px;
    color: red;
    /* text-align: left; */
}

.btn {
    width: 35%;
    font-size: 24px;
    background-color:indigo;
    color: white;
    padding: 10px 15px;
    border-radius: 12px;
    border: 0;
}

/* .btn {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    background: var(--primary);
    font-size: 2.2rem;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px var(--grey);
  } */